
@{
    ViewBag.Title = "ArmstrongClinicReport2";
    Layout = "~/Views/Shared/_ReLayout.cshtml";
}

<h2>ArmstrongClinicReport2</h2>
<iframe width="750" height="420" src="https://app.powerbi.com/view?r=eyJrIjoiNzJhNjY5YzgtMWUwYS00YTI3LTg3ZjYtNjcyYTE1YzJjMmNhIiwidCI6ImJjMTBlMDUyLWIwMWMtNDg0OS05OTY3LWVlN2VjNzRmYzlkOCIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>

<br><br>
