
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_ReLayout.cshtml";
}

<h2>Dashboard</h2>
<br><br>
    <iframe width="1600" height="900" src="https://app.powerbi.com/view?r=eyJrIjoiODQyMzBkNTUtODUwMy00ZjU2LThlMmYtMzAxNWRiMzFiY2E3IiwidCI6ImJjMTBlMDUyLWIwMWMtNDg0OS05OTY3LWVlN2VjNzRmYzlkOCIsImMiOjZ9" frameborder="1" allowFullScreen="false"></iframe>

