
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_ReLayout.cshtml";
}

<h2>Researcher Dashboard</h2>
<iframe width="750" height="410" src="https://app.powerbi.com/view?r=eyJrIjoiODY5ZjJhYzUtMTQwOC00MjVlLTkyMDMtZmUzMDQxOWUyMDRhIiwidCI6ImJjMTBlMDUyLWIwMWMtNDg0OS05OTY3LWVlN2VjNzRmYzlkOCIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>
<iframe width="750" height="410" src="https://app.powerbi.com/view?r=eyJrIjoiODQyMzBkNTUtODUwMy00ZjU2LThlMmYtMzAxNWRiMzFiY2E3IiwidCI6ImJjMTBlMDUyLWIwMWMtNDg0OS05OTY3LWVlN2VjNzRmYzlkOCIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>
<br><br>
