
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Dashboard2</h2>
<br><br>
    <iframe width="1000" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiOGJkMDUwZDgtYjk5MS00MmVkLTgyOTctNGYyZDU0OTI4MDZkIiwidCI6ImJjMTBlMDUyLWIwMWMtNDg0OS05OTY3LWVlN2VjNzRmYzlkOCIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>