

@{
    ViewBag.Title = "Population";
    Layout = "~/Views/Shared/_ReLayout.cshtml";
}

<h2>Population Map</h2>
<div class="row justify-content-end">
    <div class="btn-group">
        <a href="~/Content/file/PopulationMap.xlsx" download class="btn btn-info" role="button">
            Download
        </a>
    </div>
</div>
<iframe width="1050" height="750" <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiOWIwMDE5M2EtYTBjYi00MjRlLWI3ODAtNGM5ZGE1MzNkOWIwIiwidCI6ImJjMTBlMDUyLWIwMWMtNDg0OS05OTY3LWVlN2VjNzRmYzlkOCIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>
<br><br>
