

@{
    ViewBag.Title = "Population";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Population Map</h2>
<iframe width="1280" height="720" src="https://app.powerbi.com/view?r=eyJrIjoiOWIwMDE5M2EtYTBjYi00MjRlLWI3ODAtNGM5ZGE1MzNkOWIwIiwidCI6ImJjMTBlMDUyLWIwMWMtNDg0OS05OTY3LWVlN2VjNzRmYzlkOCIsImMiOjZ9" frameborder="1" allowFullScreen="true"></iframe>
<br><br>
