<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/842593dc-26ae-4359-a1a3-314d489f692a/resourcegroups/Marvel20190529034006ResourceGroup/providers/Microsoft.Web/sites/MarvelousTelemetry</ResourceId>
    <ResourceGroup>Marvel20190529034006ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://marveloustelemetry.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>marveloustelemetry.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MarvelousTelemetry</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MarvelousTelemetry</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ArmstrongCinicDatabaseEntities2" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:marveloustelemetry.database.windows.net,1433;Initial Catalog=MarvelousTelemetry;User ID=trungphongnguyentran@gmail.com@marveloustelemetry;Password=Vuivuivui1593" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Marvel.ArmstrongCinicDatabaseEntities2, Marvel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ClinicFDatabaseEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:marveloustelemetry.database.windows.net,1433;Initial Catalog=MarvelousTelemetry;User ID=trungphongnguyentran@gmail.com@marveloustelemetry;Password=Vuivuivui1593" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Marvel.ClinicFDatabaseEntities, Marvel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MarvelousClinicDatabaseEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:marveloustelemetry.database.windows.net,1433;Initial Catalog=MarvelousTelemetry;User ID=trungphongnguyentran@gmail.com@marveloustelemetry;Password=Vuivuivui1593" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Marvel.MarvelousClinicDatabaseEntities, Marvel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ArmstrongCinicDatabaseEntities1" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:marveloustelemetry.database.windows.net,1433;Initial Catalog=MarvelousTelemetry;User ID=trungphongnguyentran@gmail.com@marveloustelemetry;Password=Vuivuivui1593" Name="Data Source=tcp:marveloustelemetry.database.windows.net,1433;Initial Catalog=MarvelousTelemetry;User Id=trungphongnguyentran@gmail.com@marveloustelemetry;Password=Vuivuivui1593" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ArmstrongCinicDatabase.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ArmstrongCinicDatabaseEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ArmstrongModel.csdl|res://*/ArmstrongModel.ssdl|res://*/ArmstrongModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ArmstrongCinicDatabase.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ArmstrongCinicDatabaseEntities" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:marveloustelemetry.database.windows.net,1433;Initial Catalog=MarvelousTelemetry;User ID=trungphongnguyentran@gmail.com@marveloustelemetry;Password=Vuivuivui1593" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ArmstrongCinicDatabase.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ArmstrongCinicDatabaseEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ArmstrongModel.csdl|res://*/ArmstrongModel.ssdl|res://*/ArmstrongModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ArmstrongCinicDatabase.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ArmstrongCinicDatabaseEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/ArmstrongModel.csdl|res://*/ArmstrongModel.ssdl|res://*/ArmstrongModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:marveloustelemetry.database.windows.net,1433;initial catalog=MarvelousTelemetry;user id=trungphongnguyentran@gmail.com@marveloustelemetry;password=Vuivuivui1593;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ArmstrongCinicDatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ArmstrongModel.csdl|res://*/ArmstrongModel.ssdl|res://*/ArmstrongModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:marveloustelemetry.database.windows.net,1433;initial catalog=MarvelousTelemetry;user id=trungphongnguyentran@gmail.com@marveloustelemetry;password=Vuivuivui1593;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MarvelousClinicDatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/MarvelousModel.csdl|res://*/MarvelousModel.ssdl|res://*/MarvelousModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:marveloustelemetry.database.windows.net,1433;Initial Catalog=MarvelousTelemetry;User ID=trungphongnguyentran@gmail.com@marveloustelemetry;Password=Vuivuivui1593"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ClinicFDatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ClinicFModel.csdl|res://*/ClinicFModel.ssdl|res://*/ClinicFModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:marveloustelemetry.database.windows.net,1433;Initial Catalog=MarvelousTelemetry;User ID=trungphongnguyentran@gmail.com@marveloustelemetry;Password=Vuivuivui1593"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ArmstrongCinicDatabaseEntities2-Web.config Connection String">
      <ParameterValue>metadata=res://*/ArmstrongModel.csdl|res://*/ArmstrongModel.ssdl|res://*/ArmstrongModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:marveloustelemetry.database.windows.net,1433;Initial Catalog=MarvelousTelemetry;User ID=trungphongnguyentran@gmail.com@marveloustelemetry;Password=Vuivuivui1593"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>