@{
    ViewBag.Title = "About";
}
<br />
<h1>@ViewBag.Title Marvel-ous</h1>
<img src="~/Content/img/About.jpg" width="800px" /></img>
<h2>A medical telemetry system that saves lives.</h2>
<p>
    The Marvel-ous Neonatal Jaundice Telemetry Application is a data-driven
    telemetry and reporting system for a neonatal jaundice detection app,
    which is based on photo information collection and used at clinics in
    developing countries in Sub-Saharan Africa where jaundice is a newborn
    health concern.
</p>
<p>
    The telemetry and reporting application helps with the optimization by
    collecting all the crucial data from the app, including photo and usage
    information, and presents reports on this data in an accessible online
    dashboard. This dashboard also allows the export of data, which can be
    collaborated with outside clinic data in order to aid research and be
    as successful as possible in preventing neonatal jaundice in these
    Sub-Saharan areas.
</p>
