<br />
@{
    ViewBag.Title = "Feedback";
}
<h2>@ViewBag.Title</h2>
<br />
<select class="browser-default custom-select">
    <option selected>Please select type of feedback</option>
    <option value="1">General Feedback</option>
    <option value="2">Feature Request</option>
    <option value="3">Report a Bug</option>
</select>
<br /><br />
<div class="form-group">
    <textarea class="form-control" style="min-width: 75%"></textarea>
</div>
<button type="button" class="btn btn-secondary">Submit</button>

