@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-4 style="background-color:#4B6FB8"">
            
        </div>
        <div class="col-8 px-0">
            
        </div>
    </div>

</div>