@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-4" style="background-color:#4B6FB8">
            <div class="container d-flex h-100">
                <div class="row justify-content-center align-self-center">
                    <div class="col-12 text-center justify-content-center">
                        <h4 class="text-white text-center"> Welcome to MARVEL-OUS! </h4>
                        <a class="btn btn-light btn-sm btn" href="/Home/About" role="button">About us</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-8 px-0">
            
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Content/img/background.png" class="d-block w-100" height="500" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Content/img/baby.jpg" class="d-block w-100" height="500" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <h1></h1>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-row text-center">
                <div class="col">
                    <img src="~/Content/img/iconRe.png" alt="" height="80" width="80" />
                </div>
            </div>
        </div>

        <div class="col">
            <div class="form-row text-center">
                <div class="col">
                    <img src="~/Content/img/iconAdmin.png" alt="" height="70" width="70" />
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-row text-center">
                <div class="col">
                    <a class="btn btn-outline-primary btn-sm btn" href="/Researcher/Dashboard" role="button">RESEARCHER</a>
                </div>

            </div>
        </div>

        <div class="col">
            <div class="form-row text-center">
                <div class="col">
                    <a class="btn btn-outline-primary btn-sm btn" href="/Admin/Dashboard" role="button">BUSINESS</a>

                </div>
            </div>
        </div>

    </div>

</div>