@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-4" style="background-color:#4B6FB8">
            <div class="container d-flex h-100">
                <div class="row justify-content-center align-self-center">
                    <div class="col-12 text-center justify-content-center">
                        <h4 class="text-white text-center"> Welcome to MARVEL-OUS! </h4>
                        <a class="btn btn-light btn-sm btn" href="/Home/About" role="button">About us</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-8 px-0">
            <img src="~/Content/img/background.png" alt="" class="img-fluid w-100" />
        </div>
    </div>

    <div class="row">
        <h1></h1>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-row text-center">
                <div class="col">
                    <img src="~/Content/img/iconRe.png" alt="" height="80" width="80" />
                </div>
            </div>
        </div>

        <div class="col">
            <div class="form-row text-center">
                <div class="col">
                    <img src="~/Content/img/iconAdmin.png" alt="" height="70" width="70" />
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-row text-center">
                <div class="col">
                    <a class="btn btn-outline-primary btn-sm btn" href="" role="button">RESEARCHER</a>
                </div>

            </div>
        </div>

        <div class="col">
            <div class="form-row text-center">
                <div class="col">
                    <a class="btn btn-outline-primary btn-sm btn" href="" role="button">ADMINISTRATOR</a>

                </div>
            </div>
        </div>

    </div>

</div>