

@{
    ViewBag.Title = "ArmstrongClinicReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link href="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Sortable-Bootstrap-Tables-Bootstrap-Sortable/Contents/bootstrap-sortable.css" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var activeSystemClass = $('.list-group-item.active');

            //something is entered in search form
            $('#system-search').keyup(function () {
                var that = this;
                // affect all table rows on in systems table
                var tableBody = $('.table-list-search tbody');
                var tableRowsClass = $('.table-list-search tbody tr');
                $('.search-sf').remove();
                tableRowsClass.each(function (i, val) {

                    //Lower text for case insensitive
                    var rowText = $(val).text().toLowerCase();
                    var inputText = $(that).val().toLowerCase();
                    if (inputText != '') {
                        $('.search-query-sf').remove();
                        tableBody.prepend('<tr class="search-query-sf"><td colspan="6"><strong>Searching for: "'
                            + $(that).val()
                            + '"</strong></td></tr>');
                    }
                    else {
                        $('.search-query-sf').remove();
                    }

                    if (rowText.indexOf(inputText) == -1) {
                        //hide rows
                        tableRowsClass.eq(i).hide();

                    }
                    else {
                        $('.search-sf').remove();
                        tableRowsClass.eq(i).show();
                    }
                });
                //all tr elements are hidden
                if (tableRowsClass.children(':visible').length == 0) {
                    tableBody.append('<tr class="search-sf"><td class="text-muted" colspan="6">No entries found.</td></tr>');
                }
            });
        });
  
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer1", {
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Armstrong Clinic Report"
                },
                axisX: {
                    title: "Date"
                },
                axisY: {
                    title: "Uploaded Photos",
                    titleFontColor: "#4F81BC",
                    lineColor: "#4F81BC",
                    labelFontColor: "#4F81BC",
                    tickColor: "#4F81BC"
                },
                axisY2: {
                    title: "Verified Photos",
                    titleFontColor: "#C0504E",
                    lineColor: "#C0504E",
                    labelFontColor: "#C0504E",
                    tickColor: "#C0504E"
                },
                toolTip: {
                    shared: true
                },
                legend: {
                    cursor: "pointer",
                    itemclick: toggleDataSeries
                },
                data: [{
                    type: "column",
                    name: "Uploaded Photos",
                    showInLegend: true,
                    yValueFormatString: "#,##0.#",
                    dataPoints: [
                        { label: "06-01-2018", y: 10 },
                        { label: "07-01-2018", y: 12 },
                        { label: "08-01-2018", y: 15 },
                        { label: "09-01-2018", y: 14 },
                        { label: "10-01-2018", y: 11 },
                        { label: "11-01-2018", y: 2 },
                        { label: "12-01-2018", y: 15 },
                        { label: "01-01-2019", y: 8 },
                        { label: "02-01-2019", y: 6 },
                        { label: "03-01-2019", y: 4 },
                        { label: "04-01-2019", y: 8 },
                        { label: "05-01-2019", y: 11 }
                    ]
                },
                {
                    type: "column",
                    name: "Verified Photos",
                    axisYType: "secondary",
                    showInLegend: true,
                    yValueFormatString: "#,##0.#",
                    dataPoints: [
                        { label: "06-01-2018", y: 9 },
                        { label: "07-01-2018", y: 11 },
                        { label: "08-01-2018", y: 14 },
                        { label: "09-01-2018", y: 13 },
                        { label: "10-01-2018", y: 10 },
                        { label: "11-01-2018", y: 1 },
                        { label: "12-01-2018", y: 14 },
                        { label: "01-01-2019", y: 7 },
                        { label: "02-01-2019", y: 5 },
                        { label: "03-01-2019", y: 3 },
                        { label: "04-01-2019", y: 7 },
                        { label: "05-01-2019", y: 8 }
                    ]
                }]
            });

            function toggleDataSeries(e) {
                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else {
                    e.dataSeries.visible = true;
                }
                e.chart.render();
            }

            var chart = new CanvasJS.Chart("chartContainer2", {
                animationEnabled: true,
                exportEnabled: true,
                title: {
                    text: "Success Rate in past 12 months"
                },
                axisY: {
                    title: "Percentage",
                    includeZero: false,
                    suffix: "%",
                    valueFormatString: "#"
                },
                data: [{
                    type: "stepLine",
                    yValueFormatString: "#\"%\"",
                    xValueFormatString: "MMM YYYY",
                    markerSize: 5,
                    dataPoints: [
                        { x: new Date(2018, 5), y: 90 },
                        { x: new Date(2018, 6), y: 92 },
                        { x: new Date(2018, 7), y: 93, indexLabel: "Highest", indexLabelFontColor: "#C24642"},
                        { x: new Date(2018, 8), y: 93 },
                        { x: new Date(2018, 9), y: 91 },
                        { x: new Date(2018, 10), y: 50 },
                        { x: new Date(2018, 11), y: 93 },
                        { x: new Date(2018, 12), y: 88 },
                        { x: new Date(2019, 1), y: 83 },
                        { x: new Date(2019, 2), y: 75 },
                        { x: new Date(2019, 3), y: 88 },
                        { x: new Date(2019, 4), y: 73 }
                    ]
                }]
            });
            chart.render();
        }
    
    </script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
    <h2>Armstrong Clinic Report</h2>
    <div class="container">


        <div class="row justify-content-end">

            <form action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </form>

            <div class="col-auto"><p></p></div>
            <div class="btn-group">
                <a href="~/Content/file/ArmstrongClinicReport.xlsx" download class="btn btn-info" role="button">
                    Download
                </a>
            </div>
        </div>
        <div class="row">
            <p></p>
        </div>

        <div class="row">
            <table class="table table-bordered table-striped sortable table-list-search">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Uploaded</th>
                        <th>Verified</th>
                        <th>Success Rate</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Total</th>
                        <th>116</th>
                        <th>102</th>
                        <th>88%</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td data-dateformat="MM-DD-YYYY">06-01-2018</td>
                        <td>10</td>
                        <td>9</td>
                        <td>90%</td>
                    </tr>
                    <tr>
                        <td data-dateformat="MM-DD-YYYY">07-01-2018</td>
                        <td>12</td>
                        <td>11</td>
                        <td>92%</td>
                    </tr>
                    <tr>
                        <td data-dateformat="MM-DD-YYYY">08-01-2018</td>
                        <td>15</td>
                        <td>14</td>
                        <td>93%</td>
                    </tr>
                    <tr>
                        <td data-dateformat="MM-DD-YYYY">09-01-2018</td>
                        <td>14</td>
                        <td>13</td>
                        <td>93%</td>
                    </tr>
                    <tr>
                        <td data-dateformat="MM-DD-YYYY">10-01-2018</td>
                        <td>11</td>
                        <td>10</td>
                        <td>91%</td>
                    </tr>
                    <tr>
                        <td data-dateformat="MM-DD-YYYY">11-01-2018</td>
                        <td>2</td>
                        <td>1</td>
                        <td>50%</td>
                    </tr>
                    <tr>
                        <td data-dateformat="MM-DD-YYYY">12-01-2018</td>
                        <td>15</td>
                        <td>14</td>
                        <td>93%</td>
                    </tr>
                    <tr>
                        <td data-dateformat="MM-DD-YYYY">01-01-2019</td>
                        <td>8</td>
                        <td>7</td>
                        <td>88%</td>
                    </tr>
                    <tr>
                        <td data-dateformat="MM-DD-YYYY">02-01-2019</td>
                        <td>6</td>
                        <td>5</td>
                        <td>83%</td>
                    </tr>
                    <tr>
                        <td data-dateformat="MM-DD-YYYY">03-01-2019</td>
                        <td>4</td>
                        <td>3</td>
                        <td>75%</td>
                    </tr>
                    <tr>
                        <td data-dateformat="MM-DD-YYYY">04-01-2019</td>
                        <td>8</td>
                        <td>7</td>
                        <td>88%</td>
                    </tr>
                    <tr>
                        <td data-dateformat="MM-DD-YYYY">05-01-2019</td>
                        <td>11</td>
                        <td>8</td>
                        <td>73%</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container">
            <div id="chartContainer1" style="height: 400px; width:100%;">
            </div>

            <div class="row">
                <h1></h1>
            </div>

            <div id="chartContainer2" style="height: 400px; width: 100%;">
            </div>
        </div>




        <a href="/Admin/OverallClinicReport"><p class="text-sm-left">← Back to the Overall view of Clinic Report.</p></a>
    </div>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Sortable-Bootstrap-Tables-Bootstrap-Sortable/Scripts/bootstrap-sortable.js"></script>
</body>
</html>


