@{
    ViewBag.Title = "Budget";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Budget Report</h2>

<div class="row justify-content-end">
    <div class="btn-group">
        <a href="mailto:adnimistrator@gmail.com" class="btn btn-info" role="button">Share</a>
        <a href="~/Content/file/BudgetReport.xlsx" download class="btn btn-info" role="button">
            Download
        </a>
    </div>
</div>

<iframe width="1000" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiOGJkMDUwZDgtYjk5MS00MmVkLTgyOTctNGYyZDU0OTI4MDZkIiwidCI6ImJjMTBlMDUyLWIwMWMtNDg0OS05OTY3LWVlN2VjNzRmYzlkOCIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>
<br><br>
