@model List<Marvel.ClinicF>

@{
    ViewBag.Title = "ClinicFReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var grid = new WebGrid(canPage: true, rowsPerPage: 10);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h2>Clinic F Report</h2>
    <div class="container">
        @using (Html.BeginForm())
        {
            <div class="row justify-content-end">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-0" id="@ViewBag.search" type="text" name="search" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">Search</button>
                </form>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-success my-2 my-sm-0">Share</button>
                    <button type="button" class="btn btn-outline-success my-2 my-sm-0">Export</button>
                </div>
            </div>


        }

        <div class="row">
            <h1></h1>
        </div>
        <div class="row">
            <h1></h1>
        </div>
        <div>
            @grid.Table(
            tableStyle: "table",
            columns: grid.Columns(
            grid.Column(columnName:"Month", header:"Month"),
            grid.Column(columnName:"Uploaded", header:"Uploaded"),
            grid.Column(columnName:"Verified", header:"Verified"),
            grid.Column(columnName:"SuccessRate", header:"Success Rate")
            )
            )


            @Html.Hidden("dir", grid.SortDirection)
            @Html.Hidden("col", grid.SortColumn)
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-row text-center">
                <div class="col">
                    <img src="~/Content/img/ClinicF.png" width="550" height="300" alt="" />
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-row text-center">
                <div class="col">
                    <img src="~/Content/img/ClinicFSR.png" width="550" height="300" alt="" />
                </div>
            </div>
        </div>
    </div>

    <a href="/Admin/Table"><p class="text-sm-left">← Back to the Overall view of Clinic Report.</p></a>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(function () {
            try {
                var dir = $('#dir').val();
                var col = $('#col').val();
                var header = $("th a[href*=" + col + "]");
                if (dir == "Ascending") {
                    header.text(header.text() + " ▲")
                }
                if (dir == "Descending") {
                    header.text(header.text() + " ▼")
                }
            } catch (e) {

            }
        })
    </script>
</body>
</html>


