
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Business Dashboard</h2>
<div class="row">
    <iframe width="750" height="300" src="https://app.powerbi.com/view?r=eyJrIjoiMDE0MTNkMjgtZjViNS00ZWM1LWE2OGEtOTBiOTFjNDA3NWU3IiwidCI6ImJjMTBlMDUyLWIwMWMtNDg0OS05OTY3LWVlN2VjNzRmYzlkOCIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>
    <iframe width="750" height="410" src="https://app.powerbi.com/view?r=eyJrIjoiODQyMzBkNTUtODUwMy00ZjU2LThlMmYtMzAxNWRiMzFiY2E3IiwidCI6ImJjMTBlMDUyLWIwMWMtNDg0OS05OTY3LWVlN2VjNzRmYzlkOCIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>
</div>







