
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Dashboard</h2>
<div class="row">
    <h1></h1>
</div>
<div class="card" style="width:400px">
    <a href="/Admin/Table"><img class="card-img-top" src="~/Content/img/OverallClinic.png" alt="Card image"></a>

    <div class="card-body">
        <h4 class="card-title">Overall view of Clinic Report</h4>

    </div>
</div>







