
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Dashboard</h2>
<div class="row">
    <h1></h1>
</div>
<div class="card" style="width:400px">
    <a href="/Admin/Table"><img class="card-img-top" src="~/Content/img/OverallClinic.png" alt="Card image"></a>

    <div class="card-body">
        <h4 class="card-title">Overall view of Clinic Report</h4>

    </div>
</div>

<div class="row">
    <h1> </h1>
</div>
<div class="row">
    <h1> </h1>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-header">
        Tasks
    </div>
    <div class="card-body">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Task 1</label>
            <button type="button" class="tn btn-danger close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck2">
            <label class="custom-control-label" for="customCheck2">Task 2</label>
            <button type="button" class="tn btn-danger close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck3">
            <label class="custom-control-label" for="customCheck3">Task 3</label>
            <button type="button" class="tn btn-danger close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck4">
            <label class="custom-control-label" for="customCheck4">Task 4</label>
            <button type="button" class="tn btn-danger close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck5">
            <label class="custom-control-label" for="customCheck5">Task 5</label>
            <button type="button" class="tn btn-danger close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>   
    <div class="card-footer text-muted">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div>




