
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Dashboard</h2>
<div class="row">
    <h1></h1>
</div>
<div class="card" style="width:400px">
    <a href="/Admin/Table"><img class="card-img-top" src="~/Content/img/OverallClinic.png" alt="Card image"></a>

    <div class="card-body">
        <h4 class="card-title">Overall view of Clinic Report</h4>

    </div>
</div>

<div class="row">
    <h1> </h1>
</div>
<div class="row">
    <h1> </h1>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-header">
        Tasks
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>   
    <div class="card-footer text-muted">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div>




