
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Dashboard</h2>
<iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiMDM3NzY0YjQtZmQ4NS00NGYyLThiYTAtN2UyMTliZTNjMzMxIiwidCI6ImJjMTBlMDUyLWIwMWMtNDg0OS05OTY3LWVlN2VjNzRmYzlkOCIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>


